# general npm config
progress=false

# internal repos and shorthands
@KL-Engineering:registry=https://npm.pkg.github.com
@kl-engineering:registry=https://npm.pkg.github.com
@KL-Global:registry=https://npm.pkg.github.com
@kl-global:registry=https://npm.pkg.github.com